/*RESETEO DE CSS, HACELO SIEMPRE ASI CON BORDER-BOX*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* COLOR DE HEADER, FOOTER, ETC #1e1d22*/
/* PROXIMAMENTE background-color: #989776;*/




/*  GENERALIDADES */
img {
    max-width: 100%;

}


ul{
    li{
        list-style-type: none;
        text-align: center;
        margin: 0.3rem;

        a{color: white;
            text-decoration: none;
        }
    }
}



h1 {
    margin: 0.5rem;

}

h2 {
    text-decoration: underline;
    margin: 0.5rem;
    font-size: 1rem;

}




