/* SECCION CONTACTOS*/

.container-contacto {
    text-align: center;
    font-size: 0.7rem;
    margin: 2rem;
    border: 1px solid black;


    & h2 {
        text-align: center;
        text-decoration: underline;
        margin: 1rem;

    }

    & h3 {
        text-decoration: underline;
        margin: 2rem;
    }
}



.boton-proximamente a {
    color: white;
    border: 2px solid white;
    background-color: #3e5c2a;
    display: block;


    padding: 3px;
    margin: 5px;
    border-radius: 10%;
}






@media (min-width:1200px) {
    .container-contacto {

        height: 66vh;
        text-align: center;
        font-size: 1rem;
        margin: 2rem;
        border: 1px solid black;

        & h2 {
            font-size: 1.5rem;
        }
    }

    .boton-proximamente a {
        color: white;
        border: 2px solid white;
        background-color: #3e5c2a;
        display: block;
    
    
        padding: 3px;
        margin: 5px;
        border-radius: 10%;
    }
}