/* SECCION CONTACTOS*/


.container-contacto {
    text-align: center;
    font-size: 0.7rem;
    margin: 2rem;
    border: 1px solid black;
}



.container-contacto h2 {
    text-align: center;
    text-decoration: underline;
    margin: 1rem;

}

.container-contacto h3 {
    text-decoration: underline;
    margin: 2rem;
}

.boton {
    margin: 0.5rem;
}

.label {
    margin: 1rem;
}

