/* SECCION GALERIA*/

.galeria {
    margin: 3rem;


    & h2 {
        text-align: center;
        font-size: 1rem;
    }

    & img {
        width: 100%;
        aspect-ratio: 16/17;
    }
}




@media(min-width: 600px) {
    .img-galeria {

        display: grid;
        grid-template-columns: repeat(3, 1fr);


    }

    .galeria h2 {
        font-size: 2rem;
    }

}

@media(min-width:1024px) {
    .img:hover {
        transform: scale(1.1);
    }
}